<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
</head>
<body>
  <p>Someone has created an account with this email address. If you did not create this account, please ignore this message. If you created this account, please go to <%= @rodauth.verify_account_email_link %> to verify the account.</p>
</body>
</html>
